Host/Connected Services/HospitalServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="HospitalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFservice" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHospitalService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_SetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUser" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_SetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_GetSlot_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSlot" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_GetSlot_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSlotResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_SetSlot_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSlot" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_SetSlot_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSlotResponse" />
  </wsdl:message>
  <wsdl:portType name="IHospitalService">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/GetUser" message="tns:IHospitalService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/GetUserResponse" message="tns:IHospitalService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/SetUser" message="tns:IHospitalService_SetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/SetUserResponse" message="tns:IHospitalService_SetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSlot">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/GetSlot" message="tns:IHospitalService_GetSlot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/GetSlotResponse" message="tns:IHospitalService_GetSlot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSlot">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/SetSlot" message="tns:IHospitalService_SetSlot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/SetSlotResponse" message="tns:IHospitalService_SetSlot_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHospitalService" type="tns:IHospitalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IHospitalService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUser">
      <soap:operation soapAction="http://tempuri.org/IHospitalService/SetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSlot">
      <soap:operation soapAction="http://tempuri.org/IHospitalService/GetSlot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSlot">
      <soap:operation soapAction="http://tempuri.org/IHospitalService/SetSlot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HospitalService">
    <wsdl:port name="BasicHttpBinding_IHospitalService" binding="tns:BasicHttpBinding_IHospitalService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFservice/HospitalService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>